<div class="container" style="margin-top: 100px">
    <h4 class="text-info text-center">Select box shows all the states of INDIA  </h4>
    <hr />

    <div class="row">
      <div class="col-6">
  <select name="city" class="form-control" (change)="onChange($event.target.value)">
    <option *ngFor="let country of countries"  [value]="country.id">{{country.name}}</option>
    </select>
  </div>
    <div class="col-6">
    <select id="sel1" name="Country" class="form-control">
      <option *ngFor="let state of states" [value]="city">{{state}}</option>  
  
    </select>
  </div>
  </div>
  </div>    